@import "./var";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
  font-size: 26.666666666667vw;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 160PX;
    max-width: 600PX;
    margin-left: auto;
    margin-right: auto;
  }
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #333;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
a,
p {
  padding: 0;
  margin: 0;
}

ul,
li,
ol {
  list-style: none;
}

// color font
@include setColor('color', 'color');
@include setColor('bg', 'background-color');
@include setFontSize;
@include setWidthHeight;

// helper
@include flexHelper;
@include textHelper;

// margin-padding
@include setMarginPadding('mg', 'margin');
@include setMarginPadding('mgl', 'margin-left');
@include setMarginPadding('mgr', 'margin-right');
@include setMarginPadding('mgt', 'margin-top');
@include setMarginPadding('mgb', 'margin-bottom');
@include setMarginPadding('mglr', ('margin-left', 'margin-right'));
@include setMarginPadding('mgtb', ('margin-top', 'margin-bottom'));
@include setMarginPadding('pd', 'padding');
@include setMarginPadding('pdl', 'padding-left');
@include setMarginPadding('pdr', 'padding-right');
@include setMarginPadding('pdt', 'padding-top');
@include setMarginPadding('pdb', 'padding-bottom');
@include setMarginPadding('pdlr', ('padding-left', 'padding-right'));
@include setMarginPadding('pdtb', ('padding-top', 'padding-bottom'));